.sidebara .nav-item:hover,
.dropdown-menu li:hover{
    background-color: #c4c4c4;
}
.dropdown-menu{
    padding: 0;
}
@media (max-width: 768px) { 
    .categorias{
        transform: translateX(-100%);
        right: 0px;
    }
}
.categorias li{
    height: 46px;
}
